<div class="container">
  <h1>List of organizations</h1>

  <div class="d-flex mb-4">
    <button class="btn btn-outline-warning mr-3" routerLink="">Home</button>
    <button class="btn btn-outline-info" routerLink="/organization/organization-add">Add Organization</button>
  </div>
</div>

<div class="container">
  <div class="d-flex flex-direction-column justify-content-around">
      <div class="d-flex mb-4 col-lg-5 col-md-3">
        <input type="text" class="form-control" ngModel matInput placeholder="Search" name="search" search #searchInput="ngModel"
          [(ngModel)]="searchValue" (keyup)="filter()">
      </div>
      <div class="d-flex mb-4 col-lg-4 col-md-3">
        <select class="custom-select" [(ngModel)]="organizationValue" ngModel (change)="filter()">
          <option value="">Any organization</option>
          <option *ngFor="let organizationType of organizationTypes | keyvalue" [value]="organizationType.key">
            {{ organizationType.value }}
          </option>
        </select>
    </div>
  </div>
</div>

<ng-container *ngIf="organizations.length > 0; else noResults">
  <table class="table table-striped mx-auto col-lg-11 col-md-6">
    <thead>
    <tr>
      <th sortable="id" (sort)="onSort($event)" scope="col">Id</th>
      <th sortable="identifier" (sort)="onSort($event)" scope="col">Identifier</th>
      <th sortable="type" (sort)="onSort($event)" scope="col">Type</th>
      <th sortable="name" (sort)="onSort($event)" scope="col">Name</th>
      <th sortable="address" (sort)="onSort($event)" scope="col">Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let organization of organizations">
      <td>{{ organization.id }}</td>
      <td>{{ organization.identifier }}</td>
      <td>
        <span [ngClass]="getBadgeColor(organization.type)">{{ organization.type }}</span>
      </td>
      <td>{{ organization.name }}</td>
      <td>{{ organization.address }}</td>
      <td>{{ organization.phone }}</td>
      <td>{{ organization.email }}</td>
      <td>
        <button [routerLink]="['/organization/organization-details/', organization.id]" class="btn btn-outline-warning mr-3">View</button>
        <button [routerLink]="['/organization/organization-edit/', organization.id]" class="btn btn-outline-success mr-3">Edit</button>
        <button class="btn btn-outline-danger mr-3" (click)="onDeleteClick(organization)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</ng-container>

<div class="d-flex justify-content-center align-items-start">
  <select class="custom-select col-1 mx-2" (change)="onPageSizeChange()" [(ngModel)]="pageSize" >
    <option *ngFor="let size of availablePageSize" [ngValue]="size">{{size}}</option>
  </select>
  <div class="d-flex justify-content-center">
    <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [boundaryLinks]="true"
      (pageChange)="onPageChange()"
      [collectionSize]="totalItems">
    </ngb-pagination>
  </div>
</div>

<ng-template #noResults>
  <h1 class="text-center">No results to show</h1>
</ng-template>
