<div class="modal-header" #dialogContent>
  <h4 class="modal-title" id="modal-title" *ngIf="headerText">{{headerText}}</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p [innerHTML]="message"></p>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" ngbAutofocus (click)="onCancel()">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="onConfirm()">Yes</button>
</div>
