<div class="container">
  <h1>List of patients</h1>

  <div class="d-flex mb-4">
    <button class="btn btn-outline-warning mr-3" routerLink="">Home</button>
    <button class="btn btn-outline-info" routerLink="/patient/patient-add">Add patient</button>
  </div>
</div>

<div class="container">
  <div class="d-flex flex-direction-column justify-content-between">
    <div class="d-flex mb-4 col-lg-3">
      <input type="text" class="form-control" ngModel matInput placeholder="Search" name="search" search #searchInput="ngModel"
        [(ngModel)]="searchValue" (keyup)="search()">
    </div>
    <div class="d-flex justify-content-center col-lg-5 mb-4">
      <select class="custom-select col-lg-4" [(ngModel)]="maritalStatusValue" ngModel (change)="search()">
        <option value="">Any gender</option>
        <option *ngFor="let ms of maritalStatus | keyvalue" [value]="ms.key">
          {{ ms.value }}
        </option>
      </select>
    </div>
</div>
</div>

<ng-container *ngIf="patients.length > 0; else noResults">
  <table class="table table-striped mx-auto col-lg-11 col-md-6">
    <thead>
    <tr>
      <th sortable="id" (sort)="onSort($event)" scope="col">Id</th>
      <th sortable="identifier" (sort)="onSort($event)" scope="col">Identifier</th>
      <th sortable="name" (sort)="onSort($event)" scope="col">Name</th>
      <th sortable="surname" (sort)="onSort($event)" scope="col">Surname</th>
      <th sortable="gender" (sort)="onSort($event)" scope="col">Gender</th>
      <th>Phone</th>
      <th>Email</th>
      <th sortable="maritalStatus" (sort)="onSort($event)" scope="col">Marital status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{ patient.id }}</td>
      <td>{{ patient.identifier }}</td>
      <td>{{ patient.name }}</td>
      <td>{{ patient.surname }}</td>
      <td>
        <span [ngClass]="getBadgeColorGender(patient.gender)">{{ patient.gender }}</span>
      </td>
      <td>{{ patient.phone }}</td>
      <td>{{ patient.email }}</td>
      <td>
        <span [ngClass]="getBadgeColorMaritalStatus(patient.maritalStatus)">{{ patient.maritalStatus }}</span>
      </td>
      <td>
        <button [routerLink]="['/patient/patient-details/', patient.id]" class="btn btn-outline-warning mr-3">View</button>
        <button [routerLink]="['/patient/patient-edit/', patient.id]" class="btn btn-outline-success mr-3">Edit</button>
        <button class="btn btn-outline-danger mr-3" (click)="onDeleteClick(patient)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</ng-container>

<div class="d-flex justify-content-center align-items-start">
  <select class="custom-select col-1 mx-2" (change)="onPageSizeChange()" [(ngModel)]="pageSize" >
    <option *ngFor="let size of availablePageSize" [ngValue]="size">{{size}}</option>
  </select>
  <div class="d-flex justify-content-center">
    <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [boundaryLinks]="true"
      (pageChange)="onPageChange()"
      [collectionSize]="totalItems">
    </ngb-pagination>
  </div>
</div>

<ng-template #noResults>
  <h1 class="text-center">No results to show</h1>
</ng-template>
