<div class="d-flex flex-column mx-auto col-lg-8 col-md-6 p-3" *ngIf="addForm">
  <form [formGroup]="addForm">
    <div class="d-flex flex-column">
      <label for="identifier">Identifier</label>
      <input type="text" class="form-control" formControlName="identifier">
      <p class="alert alert-danger" *ngIf="hasErrors('identifier', 'required')">
        Identifier is required
      </p>
      <p class="alert alert-danger" *ngIf="hasErrors('identifier', 'minlength')">
        Min length is {{ addForm.get('identifier').errors.minlength.requiredLength }} characters
      </p>
    </div>

    <div class="d-flex flex-column">
      <label for="name">Name</label>
      <input type="text" class="form-control" formControlName="name">
      <p class="alert alert-danger" *ngIf="hasErrors('name', 'required')">
        Name is required
      </p>
      <p class="alert alert-danger" *ngIf="hasErrors('name', 'minlength')">
        Min length is {{ addForm.get('name').errors.minlength.requiredLength }} characters
      </p>
    </div>

    <div class="d-flex flex-column">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" formControlName="surname">
      <p class="alert alert-danger" *ngIf="hasErrors('surname', 'required')">
        Surname is required
      </p>
      <p class="alert alert-danger" *ngIf="hasErrors('surname', 'minlength')">
        Min length is {{ addForm.get('surname').errors.minlength.requiredLength }} characters
      </p>
    </div>

    <div class="d-flex flex-column">
      <label for="gender">Gender</label>
      <select id="gender" class="custom-select" formControlName="gender">
        <option *ngFor="let g of gender | keyvalue" [ngValue]="g.value">
          {{ g.value }}</option>
      </select>
      <p class="alert alert-danger" *ngIf="hasErrors('gender', 'required')">
        Gender is required
      </p>
    </div>

    <div class="d-flex flex-column">
      <label for="birthDate">Birth Date</label>
      <input type="date" class="form-control" formControlName="birthDate">
      <p class="alert alert-danger" *ngIf="hasErrors('birthDate', 'required')">
        Birth date is required
      </p>
    </div>

    <div class="d-flex flex-column">
      <label for="address">Address</label>
      <input type="text" class="form-control" formControlName="address">
    </div>

    <div class="d-flex flex-column">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" formControlName="phone">
    </div>

    <div class="d-flex flex-column">
      <label for="email">Email</label>
      <input type="email" class="form-control" formControlName="email">
      <p class="alert alert-danger" *ngIf="hasErrors('email', 'email')">
        Email is in invalid format
      </p>
    </div>

    <fieldset class="d-flex flex-column mt-3">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Deceased</legend>
        <div class="form-check form-check-inline">
          <input class="form-check-input" formControlName="deceased" type="radio" id="inlineRadio1" [value]="true">
          <label class="form-check-label" for="inlineRadio1">True</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" formControlName="deceased" type="radio" id="inlineRadio2" [value]="false">
          <label class="form-check-label" for="inlineRadio2">False</label>
        </div>
      </div>
    </fieldset>

    <div class="d-flex flex-column">
      <label for="maritalStatus">Marital status</label>
      <select id="maritalStatus" class="custom-select" formControlName="maritalStatus">
        <option *ngFor="let ms of maritalStatus | keyvalue" [ngValue]="ms.value">
          {{ ms.value }}</option>
      </select>
    </div>

    <div class="d-flex flex-column" >
      <label for="organization">Organization</label>
      <select (change)="findByOrganizationId()" (click)="isSelected = true" id="organization" [(ngModel)]="selectedOrganization" class="custom-select" formControlName="organization">
        <option ngValue="">Select organization</option>
        <option *ngFor="let organization of organizations" [ngValue]="organization.id">
          {{ organization.id }} - {{ organization.identifier }} - {{ organization.name }}
        </option>
      </select>
      <p class="alert alert-danger" *ngIf="hasErrors('organization', 'required')">
        Organization is required
      </p>
    </div>

    <div *ngIf="isSelected">
      <ng-container *ngIf="practitioners.length > 0; else noResults">
        <div class="d-flex flex-column">
          <label for="practitioner">Practitioner</label>
          <select id="practitioner" class="custom-select" formControlName="practitioner">
            <option ngValue="">Select practitioner</option>
            <option *ngFor="let practitioner of practitioners" [ngValue]="practitioner.id">
              {{ practitioner.identifier }} - {{ practitioner.name }} - {{ practitioner.qualification }}
            </option>
          </select>
          <p class="alert alert-danger" *ngIf="hasErrors('practitioner', 'required')">
            Practitioner is required
          </p>
        </div>
      </ng-container>

    </div>
    <div class="d-flex justify-content-around mt-3">
      <button (click)="save()" class="btn btn-primary" [disabled]="addForm.invalid">Save</button>
      <button routerLink="/patient" class="btn btn-secondary">Cancel</button>
    </div>
  </form>
  </div>

  <ng-template #noResults>
    <label class="text-warning mt-1">There are no practitioners which are working in this organization</label>
  </ng-template>

