<div class="container" *ngIf="patient">
  <h3 class="text-center my-3">Details about patient: <u>{{ patient.name }} {{ patient.surname }}</u></h3>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-3">
        <div class="card-body">
          <h4 class="card-title text">Identifier: {{ patient.identifier }}</h4>
          <p class="card-text">Active status: <b>{{ patient.active }}</b></p>
          <p class="card-text">Gender: {{ patient.gender }}</p>
          <p class="card-text">DoB: {{ patient.birthDate }}</p>
          <p class="card-text">Marital status: <b>{{ patient.maritalStatus }}</b></p>
          <p class="card-text">Number of examinations: <b>{{patient.examinations.length}}</b></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-body">
          <h4 class="card-title text">Contact info:</h4>
          <h6 class="card-text">Phone: {{patient.phone}}</h6>
          <h6 class="card-text">Email: {{patient.email}}</h6>
          <h6 class="card-text">Address: {{patient.address}}</h6>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-body bg-secondary mr-3">
          <h4 class="card-title text">Practitioner info: {{ patient.practitioner.name }} {{ patient.practitioner.surname }}</h4>
          <h5 class="card-title text">Identifier: {{ patient.practitioner.identifier }}</h5>
          <p class="card-text">Active status: <b>{{ patient.practitioner.active }}</b></p>
          <p class="card-text">Gender: {{ patient.practitioner.gender }}</p>
          <p class="card-text">DoB: {{ patient.practitioner.birthDate }}</p>
          <p class="card-text">Phone: {{ patient.practitioner.phone }}</p>
          <p class="card-text">Email: {{ patient.practitioner.email }}</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-body bg-info">
          <h4 class="card-title text">Organization info: {{ patient.organization.name }}</h4>
          <h5 class="card-title text">Identifier: {{ patient.organization.identifier }}</h5>
          <p class="card-text">Active status: <b>{{ patient.organization.active }}</b></p>
          <p class="card-text">Type: {{ patient.organization.type }}</p>
          <p class="card-text">Address: {{ patient.organization.address }}</p>
          <p class="card-text">Phone: {{ patient.organization.phone }}</p>
          <p class="card-text">Email: {{ patient.organization.email }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="main">

  <ng-container *ngIf="patient?.examinations.length > 0; else noExaminations">
    <div class="first bg-light" *ngIf="patient?.examinations">
      <h3 class="text-center">Examinations:</h3>
      <div class="d-flex flex-wrap">
        <ng-container *ngFor="let examination of patient.examinations">
          <div class="card-body text-center">
            <p class="card-text">Identifier: {{examination.identifier}}</p>
            <p class="card-text">Status: {{examination.status}}</p>
            <p class="card-text">ServiceType: {{ examination.serviceType }}</p>
            <p class="card-text">Priority: {{examination.priority }}</p>
            <p class="card-text">Diagnosis: {{examination.diagnosis }}</p>
            <p class="card-text">StartDate: {{examination.startDate }}</p>
            <p class="card-text">EndDate: {{examination.endDate }}</p>
            <button [routerLink]="['/examination/examination-details/', examination.id]" class="btn btn-outline-success mr-3">View more</button>
          </div>
          <hr>
         </ng-container>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #noExaminations>
  <div class="second">
    <div class="d-flex flex-column">
      <h3 class="text-center">Examinations:</h3>
      <h5 class="text-center">There are no examinations</h5>
    </div>
  </div>
</ng-template>

