h6{
  margin-bottom: 1rem;
}
.main {
  display: flex;
  flex-direction: row;
}
.first::-webkit-scrollbar {
  display: none;
}
.first {
  height: 400px;
  display: block;
  width: 33%;
  overflow-y: scroll;
  margin: 0 1rem;
}
.second::-webkit-scrollbar {
  display: none;
}
.second {
  height: 400px;
  display: block;
  width: 33%;
  overflow-y: scroll;
  margin-right: 1rem;
}
.third::-webkit-scrollbar {
  display: none;
}
.third {
  height: 400px;
  display: block;
  width: 33%;
  overflow-y: scroll;
  margin-right: 1rem;
}
